{% extends 'base.html.twig' %}

{% block main_container %}
    <h3>Edit Category "{{ category.name }}"</h3>
    {% include 'commons/_messages.html.twig' %}
    <hr/>
    <form class="form" method="POST" action="{{ path('app_category_update', {'category': category.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('category') }}">
        <input type="hidden" name="_method" value="PATCH">
        <div class="form-group row">
            <label for="name" class="col-2 text-right font-weight-bold">Category Name *</label>
            <input type="text" class="form-control col-10" value="{{ category.name }}" name="name" id="name" placeholder="Category name">
        </div>
        <div class="form-group row">
            <label for="color" class="col-2 text-right font-weight-bold">Category Color *</label>
            <input type="color" class="form-control col-10" value="{{ category.color }}" name="color" id="colorInput" placeholder="Category color">
        </div>
        <button type="submit" class="btn btn-outline-primary">
            <i class="fa fa-trash"></i> Update Category
        </button>
    </form>
{% endblock %}


