{% extends 'base.html.twig' %}

{% block main_container %}
    <h3>Edit Category "{{ category.name }}"</h3>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show">
                {{ message }}
                <button type="close" class="close" data-dismiss="alert" aria-label="close" />
            </div>
        {% endfor %}
    {% endfor %}
    <hr/>
    <form class="form" method="PATCH" action="{{ path('app_category_store', {'category': category.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('category') }}">
        <div class="form-group row">
            <label for="name" class="col-2 text-right font-weight-bold">Category Name *</label>
            <input type="text" class="form-control col-10" value="{{ category.name }}" name="name" id="name" placeholder="Category name">
        </div>
        <button type="submit" class="btn btn-outline-primary">
            <i class="fa fa-trash"></i> Update Category
        </button>
    </form>
{% endblock %}

